<div class="col-sm-3 col-md-3 pull-left">
    @using (Html.BeginForm(actionName: "Search", controllerName: "home", method: FormMethod.Get, htmlAttributes: new { @class = "navbar-form", role = "search" }))
    {
        <div class="input-group">
            <input type="text" class="form-control dark-input" placeholder="جستجو ..." name="term" id="srch-term">
            <div class="input-group-btn">
                <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>

    }

</div>


